{% extends "base.html" %}

{% block title %}Next Poya When?{% endblock %}

{% block content %}
    <div class="main">
        <div class="row1">{{ days }} more day{{ daysuffix }} to the next 
            <a href="http://en.wikipedia.org/wiki/Poya">poya</a></div>
        <div class="row2">
            {% if happy %}Aaand {% else %}But {% endif %}
            it's a {{ weekday }}{% if happy %}!{% endif %}
            {{ emoticon }}
        </div>
        <div class="row3">Next poya day falls on {{ date }}. And all poya days are holidays!</div>

        <div class="share">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ days }} more day{{ daysuffix }} to the next poya, {% if happy %}aaand {% else %}but {% endif %}it's a {{ weekday }}{% if happy %}!{% endif %} {{ emoticon }}" data-size="small" data-related="thameera" data-hashtags="lka" data-dnt="true">Tweet</a>

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2FURLHEREOKAY.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
        </div>
    </div>
{% endblock %}
